{namespace e=T3\ExtbaseSessionEntities\ViewHelpers}
<fieldset>
    <legend>Final</legend>

    <ul>
        <li><b>Name:</b> {order.name}</li>
        <li><b>First name:</b> {order.firstName}</li>
        <li><b>IBAN:</b> {order.iban}</li>
        <li><b>Country:</b> {order.country.nameLocalized}</li>
    </ul>
    <p><b>Status:</b> <f:if condition="{order.fromSession}"><f:then>ungespeichert</f:then><f:else><em>gespeichert ({order.uid})</em></f:else></f:if></p>

    <f:if condition="{order.fromSession}">
        <e:form name="order" action="save" object="{order}">
            <f:form.submit value="Save" />
        </e:form>
    </f:if>

    <div class="links">
        <f:link.action action="step1" arguments="{order:order}">Goto Step 1</f:link.action><br>
        <f:link.action action="step2" arguments="{order:order}">Goto Step 2</f:link.action><br>
    </div>
</fieldset>
