{namespace e=T3\ExtbaseSessionEntities\ViewHelpers}
<fieldset>
    <legend>Step 1</legend>

    <e:form name="order" action="step2" object="{order}">

        <f:render partial="Validation" arguments="{validationResults:validationResults}" />

        <div>
            <label>
                <span>First name</span>
                <f:form.textfield property="firstName" />
            </label>
        </div>

        <div>
            <label>
                <span>Last name</span>
                <f:form.textfield property="name" />
            </label>
        </div>

        <f:form.submit value="Next" />
    </e:form>
</fieldset>
