{namespace e=T3\ExtbaseSessionEntities\ViewHelpers}
<fieldset>
    <legend>Step 2</legend>

    <e:form name="order" action="step3" object="{order}">

        <f:render partial="Validation" arguments="{validationResults:validationResults}" />

        <div>
            <label>
                <span>New product</span>
            </label>
            <fieldset id="products">
                <div>
                    <label>
                        <span>Name</span>
                        <f:form.textfield property="products.0.name" />
                    </label>
                    <label>
                        <span>Quantity</span>
                        <f:form.textfield property="products.0.quantity" />
                    </label>
                </div>
            </fieldset>

            <!-- <button id="newProduct">Add product</button> TODO -->
        </div>


        <f:form.submit value="Finalize" />

        <div class="links">
            <f:link.action action="step1" arguments="{order:order}">Goto Step 1</f:link.action><br>
        </div>
    </e:form>
</fieldset>
