{namespace e=T3\ExtbaseSessionEntities\ViewHelpers}
<fieldset>
    <legend>Step 3</legend>

    <ul>
        <li><b>Name:</b> {order.name}</li>
        <li><b>First name:</b> {order.firstName}</li>
    </ul>

    <e:form name="order" action="final" object="{order}">

        <f:render partial="Validation" arguments="{validationResults:validationResults}" />

        <div>
            <label>
                <span>IBAN</span>
                <f:form.textfield property="iban" />
            </label>
        </div>

        <div>
            <label>
                <span>Country</span>
                <f:form.select
                        property="country" options="{countries}" optionValueField="uid" optionLabelField="nameLocalized"
                        sortByOptionLabel="1" prependOptionValue="0" prependOptionLabel="Please select:"
                />
            </label>
        </div>

        <f:form.submit value="Next" />

        <div class="links">
            <f:link.action action="step1" arguments="{order:order}">Goto Step 1</f:link.action><br>
        </div>
    </e:form>
</fieldset>
